<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/main.min.css" rel="stylesheet"/>
    <!-- personal preference: github theme -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://pc035860.github.io/angular-highlightjs/angular-highlightjs.min.js"></script>

    <script src="App/app.js"></script>
    <script src="App/controllers/mainController.js"></script>
    <script src="App/controllers/secoundController.js"></script>
    <script src="App/directives/codeTabsDirective.js"></script>
    <script src="App/directives/codeTabDirective.js"></script>

</head>
<body>
    <h1>Source Code Boxes Using Angular</h1>
    <h2>Tabbed Code Boxes</h2>
    <div ng-app="app">
        <div ng-controller="mainController as vm" class="container">
            <codetabs>
                <codetab ng-repeat="item in vm.code" title="{{item.title}}" language="{{item.language}}" source="item.source" url="{{item.url}}"></codetab>
                <codetab title="{{vm.code[0].title}}" language="{{vm.code[0].language}}" source="vm.code[0].source" url="App/templates/html1.html"></codetab>
            </codetabs>
            
            <codetabs>
                <codetab ng-repeat="item in vm.code2" title="{{item.title}}" language="{{item.language}}" source="item.source" url="{{item.url}}"></codetab>
            </codetabs>
        </div>
        
        <div ng-controller="secoundController as vm" class="container">
            <codetabs>
                <codetab ng-repeat="item in vm.code" title="{{item.title}}" language="{{item.language}}" source="item.source" url="{{item.url}}"></codetab>
            </codetabs>
        </div>

    </div>

</body>
</html>
